@using BlazorIntro.Models
@using System.ComponentModel.Design

@inject HttpClient Http
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="employee-card">
    <div class="@EmployeeStatus(employee.IsActive)"></div>
    <div class="employee">
        <p class="employee-name">@employee.Name</p>
        <div class="employee-details">
            <p><strong>Age: </strong>@employee.Age</p>
            <p><strong>Status: </strong>@employee.IsActive</p>
        </div>    
    </div>
    @if (isAdmin)
    {
        <div class="button-set">
            <span class="material-symbols-outlined" id="delete-button" @onclick="@DeleteEmployee">delete</span>
        </div>
    }
</div>

@code {
    [Parameter]
    public required Employee employee { get; set; }
    private bool isAdmin;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        isAdmin = user.Identity?.IsAuthenticated == true && user.IsInRole("Admin");
    }

    string EmployeeStatus(bool value) {
        return value ? "active" : "inactive";
    }

    public async Task DeleteEmployee()
    {
        try
        {
            var response = await Http.DeleteAsync($"http://localhost:5113/employees/{employee.Id}");
        }
        catch (Exception ex)
        {
            string? statusMessage = $"Exception: {ex.Message}";
        }
    }
}